<h3>Correos</h3>

<table>
  <thead>
      <tr>
        <th>Nombre</th>
        <th>Login</th>
        <th>Pass</th>
        <th>Cantidad</th>
        <th>Enviados</th>
        <th>Restantes</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @correos.each do |correo| %>
      <tr>
        <td><%= correo.nombre %></td>
        <td><%= correo.login %></td>
        <td><%= correo.pass %></td>
        <td><%= correo.cantidad_disponible %></td>
        <td><%= correo.cantidad_enviados %></td>
        <td><%= correo.cantidad_restantes %></td>
        <td><%= link_to 'Mostrar', correo %></td>
        <td><%= link_to 'Editar', edit_correo_path(correo) %></td>
        <td><%= link_to 'Eliminar', correo, method: :delete, data: { confirm: 1 } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br />

<%= link_to 'Nuevo Correo', new_correo_path, :class => 'button small' %>
