<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @correo.nombre %>
</p>

<p>
  <b>Login:</b>
  <%= @correo.login %>
</p>

<p>
  <b>Pass:</b>
  <%= @correo.pass %>
</p>
<p>
  <b>Cantidad:</b>
  <%= @correo.cantidad_disponible %>
</p>

<p>
  <b>Enviados:</b>
  <%= @correo.cantidad_enviados %>
</p>

<p>
  <b>Restantes:</b>
  <%= @correo.cantidad_restantes %>
</p>


<%= link_to 'Editar', edit_correo_path(@correo), :class => 'button small' %> |
<%= link_to 'Atras', correos_path, :class => 'button small' %>
