<h3>Profesiones</h3>

<table>
  <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @profesiones.each do |profesion| %>
      <tr>
        <td><%= profesion.nombre %></td>
        <td><%= link_to 'Mostrar', profesion %></td>
        <td><%= link_to 'Editar', edit_profesion_path(profesion) %></td>
        <td><%= link_to 'Eliminar', profesion, method: :delete, data: { confirm: 1 } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br />

<%= link_to 'Nueva Profesion', new_profesion_path, :class => 'button small' %>
