<% content_for :login do %>

<section class="loginform cf">
  <h2>Sistema Promociones Cemla </h2>
  <%= form_for resource, :as => resource_name, :url => session_path(resource_name), :name => "login" do |f| %>
    <ul>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.submit "Entrar" %>
      </li>
    </ul>
  <% end %>

</section>
<% end %>