<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ci %><br />
    <%= f.number_field :ci %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apaterno %><br />
    <%= f.text_field :apaterno %>
  </div>
  <div class="field">
    <%= f.label :amaterno %><br />
    <%= f.text_field :amaterno %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :profesion_id %><br />
    <%= f.number_field :profesion_id %>
  </div>
  <div class="field">
    <%= f.label :fono_ofi %><br />
    <%= f.text_field :fono_ofi %>
  </div>
  <div class="field">
    <%= f.label :fono_casa %><br />
    <%= f.text_field :fono_casa %>
  </div>
  <div class="field">
    <%= f.label :fono_movil %><br />
    <%= f.text_field :fono_movil %>
  </div>
  <div class="field">
    <%= f.label :correoe %><br />
    <%= f.text_field :correoe %>
  </div>
  <div class="field">
    <%= f.label :tipo_id %><br />
    <%= f.number_field :tipo_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_nac %><br />
    <%= f.date_select :fecha_nac %>
  </div>
  <div class="field">
    <%= f.label :file_foto %><br />
    <%= f.number_field :file_foto %>
  </div>
  <div class="field">
    <%= f.label :file_ci %><br />
    <%= f.number_field :file_ci %>
  </div>
  <div class="field">
    <%= f.label :file_titulo %><br />
    <%= f.number_field :file_titulo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
