<h3>Personas</h3>
<%=  form_for @search, :html =>{ :class=>"form-search2 form-inline" } do |f| %>
    <legend>Buscar Personas</legend>

    <div class="small-3 columns">
      <%= f.text_field :ci_equals, :placeholder => "CI" %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :nombre_contains, :placeholder => "Nombre" %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :apaterno_contains, :placeholder => "Apellido Paterno" %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :amaterno_contains, :placeholder => "Apellido Materno" %>
    </div>

    <div class="small-3 columns">
      <%= f.collection_select :tipo_id_equals, Tipo.all, :id, :nombre,{:include_blank=>"Tipo.."} %>
    </div>
    <div class="small-5 columns">
      <%= f.text_field :cuentas_correos_correoe_contains, :placeholder => "Correo Electronico" %>
    </div>
    <div class="small-4 columns">
      <%= f.collection_select :profesion_id_equals, Profesion.all, :id, :nombre,{:include_blank=>"Profesiones.."} %>
    </div>

    <div class="small-12 columns">
      <button class="btn btn-success tiny">Buscar</button>
    </div>
<% end %>

<table class="responsive" >
  <thead>
      <tr>
        <th>Ci</th>
        <th>Nombre</th>
        <th>Apaterno</th>
        <th>Amaterno</th>
        <th>Profesion</th>
        <th>Tipo</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to persona.ci ,persona %></td>
        <td><%= persona.nombre %></td>
        <td><%= persona.apaterno %></td>
        <td><%= persona.amaterno %></td>
        <td><%= persona.profesion.nombre %></td>
        <td><%= persona.tipo.nombre %></td>


        <td><%= link_to 'Editar', edit_persona_path(persona) %></td>
        <% if persona.usuario.nil? %>
            <td><%= link_to 'Crear Usuario', crear_usuario_persona_path(persona) %></td>
        <% else %>
            <td><%= link_to 'Editar Usuario', crear_usuario_persona_path(persona) %></td>
        <% end %>
        <td><%= link_to 'Eliminar', persona, method: :delete, :data => { :confirm => 1 } %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9"><%= paginate @personas  %></td>
    </tr>
  </tfoot>
</table>

<br />

<%= link_to 'Nueva Persona', new_persona_path , :class => 'button tiny'%>
