<p id="notice"><%= notice %></p>

<p>
  <b>Ci:</b>
  <%= @persona.ci %>
</p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apaterno:</b>
  <%= @persona.apaterno %>
</p>

<p>
  <b>Amaterno:</b>
  <%= @persona.amaterno %>
</p>

<p>
  <b>Sexo:</b>
  <%= @persona.sexo %>
</p>

<p>
  <b>Profesion:</b>
  <%= @persona.profesion_id %>
</p>

<p>
  <b>Fono ofi:</b>
  <%= @persona.fono_ofi %>
</p>

<p>
  <b>Fono casa:</b>
  <%= @persona.fono_casa %>
</p>

<p>
  <b>Fono movil:</b>
  <%= @persona.fono_movil %>
</p>

<p>
  <b>Correoe:</b>
  <%= @persona.correoe %>
</p>

<p>
  <b>Tipo:</b>
  <%= @persona.tipo_id %>
</p>

<p>
  <b>Fecha nac:</b>
  <%= @persona.fecha_nac %>
</p>

<p>
  <b>File foto:</b>
  <%= @persona.file_foto %>
</p>

<p>
  <b>File ci:</b>
  <%= @persona.file_ci %>
</p>

<p>
  <b>File titulo:</b>
  <%= @persona.file_titulo %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
