<h3>Ciudades</h3>

<table>
  <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
    <% @ciudades.each do |ciudad| %>
      <tr>
        <td><%= ciudad.nombre %></td>
        <td><%= link_to 'Mostrar', ciudad %></td>
        <td><%= link_to 'Editar', edit_ciudad_path(ciudad) %></td>
        <td><%= link_to 'Eliminar', ciudad, method: :delete, data: { confirm: 1 } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br />

<%= link_to 'Nueva Ciudad', new_ciudad_path, :class => 'button small' %>
