<%= form_for @arte, :html => {:multipart => true} do |f| %>
  <% if @arte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arte.errors.count, "error") %> prohibited this arte from being saved:</h2>

      <ul>
      <% @arte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invitacion_file %><br />
    <%= f.file_field :invitacion_file %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
