<h3>Afiches</h3>

<table>
  <thead>
      <tr>
        <th>Nombre</th>
        <th>Afiche</th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @artes.each do |arte| %>
          <tr>
            <td><%= arte.nombre %></td>
            <td><%= link_to(image_tag(arte.invitacion_file.url(:mini)),arte.invitacion_file.url, :class => 'gallery') %></td>
            <td><%= link_to 'Descargar', arte.invitacion_file.url %></td>
            <td><%= link_to 'Mostrar', arte %></td>
            <td><%= link_to 'Editar', edit_arte_path(arte) %></td>
            <td><%= link_to 'Eliminar', arte, method: :delete, data: { confirm: 1 } %></td>
          </tr>
      <% end %>
  </tbody>
  <tfoot>
      <tr>
        <td>
          <%= paginate @artes %>
        </td>
      </tr>
  </tfoot>

</table>

<br />

<%= link_to 'Nuevo Afiche', new_arte_path, :class => 'button small' %>
