<p id="notice"><%= notice %></p>
<p>
  <b>Nombre:</b>
  <%= @arte.nombre %>
</p>
<p>

  <%= image_tag @arte.invitacion_file.url(:thumb) %>
</p>




<%= link_to 'Editar', edit_arte_path(@arte), :class => 'button small' %> |
<%= link_to 'Atras', artes_path, :class => 'button small' %>
